body {
  text-align: center;
}

.topcontainer {
  background-color: #CDF0EA;
  height: 33.5rem;
  padding: 6rem;
}

h1 {
  margin-top: 2rem;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  color: #11999E;
}

h2 {
  font-size: 2rem;
  color: #11999E;
}

h3 {
  color: #11999E;
}

p {
 font-size: 120%;
}

.pro{
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.top-cloud {
  position: absolute;
  right: 13rem;
  top: 4rem;
  height: 2.5rem;
  width: 8rem;
}

.bottom-cloud {
  position: absolute;
  left: 11rem;
  height: 2.5rem;
  width: 8rem;
}

.profile {
  height: 15rem;
  width: 15rem;
}

.programmer{
  height: 20rem;
  width: 32rem;
  margin-top: 5rem
}

.skill-1 {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.skill-2 {
  width: 35%;
  float: right;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.button {
  background-color: #CDF0EA;
}

a {
  color: black;
}

.last {
  font-size: 1em;
}

.footer-link {
  padding: 15px;
}

.middlecontainer {

}

.bottom-container {
background-color: #CDF0EA;
height: 6rem;
}
